/* body, html {
    margin: 0;
    padding: 0;
} */



header {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
}

.social-media-share {
    display: flex;
    width: 7.2rem;
    justify-content: space-between;
    
}

.item-share {
    border-radius: 3em;
    background-color: beige;
    width: 1.5rem;
    height: 1.5rem;
}

.price-lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    height: 2rem;
}

select {
    height: 2rem;   
    border: none; 
}

* {
    font-family: 'Inter';
    
}

.search-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
    padding: 1rem 2rem;
}

.company-name h1 {
    color: palevioletred ;
    font-weight: 200;    
}

.content-search {
    width: 50%;
    border: 1px solid gray;
    padding: .8rem;
    border-radius: 10px;
   
}
.content-search img {
    width: 1rem;
  
}

#cutomer-side {
    display: flex; 
    width: 15rem;   
    justify-content: space-around;
    border: 1px solid salmon;
}

.logo-customer {
    width: 2rem;    
}

nav {
    display: flex;
    width: 100vw;
    justify-content: center;    
}

.nav-links {
    box-sizing: border-box;
    padding: 1em 1.6rem;
    font-weight: bold;
}

.nav-links:hover {    
    border: 2px solid tomato;
    background-color: rgba(251, 140, 55, 0.6); 
}

.nav-links > a {
    text-decoration: none;
    color: black;
}

.just-for-you {
    background-image: url(../HTML_codes/Banner/banner-1.jpg);    
    padding: 6rem;
    background-size: 100%;
}

.text-area {
    width: 40%;
}

.text-area h2#trending {
    color: salmon;
}

#fashion-sale {
    font-weight: 800;
    font-size: 3.5rem;
}

.item-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.winter-cat {
    width: 17rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    border-radius : 10px;
    height: 5rem;
}

.winter-cat :last-child {
    align-self: flex-start;
}
.dress-img {
    border: 1px solid grey;
    border-radius : 10px;
    width: 2rem;
    height: 2rem;
    padding: 1rem;   
}

.name-items > p {
    color:salmon;
}

.dress-img {
    background-image: url(../HTML_codes/icons/dress.svg);
    background-size: 90%; 
    background-repeat: no-repeat;
}

.filter-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.filter {
    background-color: rgba(202, 204, 198, .20);
    width: 20rem;
    padding-left: 0.2rem;
    border-bottom:  2px solid rgba(202, 204, 198, .40);
}

.item-detail-view {
    width: 70%;
    margin-top: 2rem;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(8rem, auto);
    gap: 1rem;
}


.product-img {
    width: 2rem;
    height: 2rem;
    padding: 1rem;
}
.individual-item {
    display: flex;
    align-items: center;
    border: 1px solid #f0993c;   
    border-radius: 1rem;
}

.deal {
    margin-top: 2rem;
    margin-left: 30%;    
    background-color: rgba(202, 204, 198, .20);
    border-bottom: 2px solid rgba(202, 204, 198, .40);
}

.day-deal {
    width: 70%;
    margin-top: 2rem;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);   
}
.product-deal > img { width: 30rem; height: 30rem; }

.product-desc > h2 +del {
    color: salmon;
}
.product-desc > h2 {
    color: salmon;
}

.progress-bar {
    display: flex;
    justify-content: space-between;
}

.product-desc > input {
    width:100%;
}

.day-show {
    display: flex;
    gap: 1rem;
    line-height: 0.5rem;
}

.day-left {
    background-color: #cccac8;
    border-radius: 0.5rem;
    flex-basis: 4rem;
    text-align: center;
}

.new-products {
    width: 70%;
    margin-top: 2rem;
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(20rem, auto);
    gap: 1.3rem;
    place-content: center;
}

.product-self {
    border: 1px solid #cccac8;
    border-radius: 1rem;
    padding: 1rem;
}

.product-self p:nth-of-type(1) {
    color: salmon;
}

.product-self p:nth-of-type(2) {
    color: #c4c2c0;
}

.product-self h5>del {
    color: #c4c2c0;
}

.founder-invision {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem;
}