/* body, html {
    margin: 0;
    padding: 0;
} */



header {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
}

.social-media-share {
    display: flex;
    width: 7.2rem;
    justify-content: space-between;
    
}

.item-share {
    border-radius: 3em;
    background-color: beige;
    width: 1.5rem;
    height: 1.5rem;
}

.price-lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    height: 2rem;
}

select {
    height: 2rem;   
    border: none; 
}

* {
    font-family: 'Inter';
    
}

.search-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid grey;
    padding: 1rem 2rem;
}

.company-name h1 {
    color: palevioletred ;
    font-weight: 200;    
}

.content-search {
    width: 50%;
    border: 1px solid gray;
    padding: .8rem;
    border-radius: 10px;
   
}
.content-search img {
    width: 1rem;
  
}

#cutomer-side {
    display: flex; 
    width: 15rem;   
    justify-content: space-around;
    border: 1px solid salmon;
}

.logo-customer {
    width: 2rem;    
}

nav {
    display: flex;
    width: 100vw;
    justify-content: center;    
}

.nav-links {
    box-sizing: border-box;
    padding: 1em 1.6rem;
    font-weight: bold;
}

.nav-links:hover {    
    border: 2px solid tomato;
    background-color: rgba(251, 140, 55, 0.6); 
}

.nav-links > a {
    text-decoration: none;
    color: black;
}

.just-for-you {
    background-image: url(../HTML_codes/Banner/banner-1.jpg);    
    padding: 6rem;
    background-size: 100%;
}

.text-area {
    width: 40%;
}

.text-area h2#trending {
    color: salmon;
}

#fashion-sale {
    font-weight: 800;
    font-size: 3.5rem;
}

.item-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
}

.winter-cat {
    width: 17rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid grey;
    border-radius : 10px;
    height: 5rem;
}

.winter-cat :last-child {
    align-self: flex-start;
}
.dress-img {
    border: 1px solid grey;
    border-radius : 10px;
    width: 2rem;
    height: 2rem;
    padding: 1rem;   
}

.name-items > p {
    color:salmon;
}

.dress-img:nth-of-type(1){
    background-image: url(../HTML_codes/icons/dress.svg);
    background-size: 90%; 
    background-repeat: no-repeat;
}