html, body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;    
    background-color:aqua;
    display: flex;
    justify-content: space-around;
}

.mid-nav {
    display: flex;
}

.mid-nav h2 {
    color:brown;
    padding: 5px 20px;
}

.mid-nav h2:hover {
    border-bottom: 3px solid brown;
    color: white;
}

.logIn {
    align-self: center;
}

button {
    padding: 10px 15px;
    background-color: beige;
    font-weight: bold;
    border-radius: 3px;
}

/* POSITIONING ELEMENETS WITH FLOATS */

.heading-section {
    display: flex;
    flex-direction: column;

}

.heading-section h3 {
    align-self: center;
}

.square-container {
    display: flex;
    justify-content: space-around;
}

.flex-container {
    box-sizing: border-box;
    padding-left: 120px;
    width: 350px;
    height: 350px;
    border: 3px solid maroon;
}

.square-box {
    border: 5px solid aqua;
    background-color: aquamarine;
    border-radius: 3px;
    width: 100px;
    height: 100px;
}

.square-unique {
    border: 5px solid orangered;
    background-color: lightcoral;
    border-radius: 3px;
    width: 100px;
    height: 100px;
}