html, body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;    
    background-color:aqua;
    display: flex;
    justify-content: space-around;
}

.mid-nav {
    display: flex;
}

.mid-nav h2 {
    color:brown;
    padding: 5px;
}

.mid-nav h2:hover {
    border-bottom: 3px solid brown;
    color: white;
}

.logIn {
    align-self: center;
}

button {
    padding: 10px 15px;
    background-color: beige;
    font-weight: bold;
    border-radius: 3px;
}