body, html {
    padding: 0;
    margin: 0;

}
.table-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.input-box {
    display: flex;    
    gap: 10px;
    width:65%;
    /* height: 90vh; */
    border: 1px solid teal;
    
}
.input-item { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 40px;   
    background: rgb(27, 165, 27);
    border-radius: 5px;
}
input {
    width: 80%;
    height: 1.2rem;
}
input :active {
    outline: none;
}
table {
    width: 65%;
    margin-top: 30px;
}
th {
    /* width:25%; */
    height: 30px;
    background: rgb(27, 165, 27);
    border-radius: 5px;
}
td {
    height: 30px;
    background: rgb(235, 236, 235);
    border-radius: 5px;
    text-align: center;
}